#split-the-bill {
  padding: 50px 6px;
}

#split-the-bill .btn {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #e9366a;
  color: white;
  height: 80px;
  display: block;
  border-radius: 8px;
}

#split-the-bill .btn:hover {
  background-color: #ec4877;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 12px 25px 0 rgba(0,0,0,0.19);
}

#split-the-bill .btn:focus {
  background-color: #f76790;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 12px 25px 0 rgba(0,0,0,0.19);
}

#split-the-bill .btn-line-sm {
  padding-top: 5px;
  line-height: 30px;
  font-size: 13px;
}

#split-the-bill .btn-line-md-1 {
  padding-top:10px;
  line-height: 30px;
  font-size: 22px;
}
#split-the-bill .btn-line-md-2 {
  margin-top:-2px;
  line-height: 30px;
  font-size: 22px;
}

#split-the-bill .btn-line-lg {
  line-height: 30px;
  font-size: 36px;
}

.checkout-quote-title {
  margin-left:5px;
  margin-top: 18px;
  text-align: left;
  font-size: 22px;
}

.checkout-quote-value {
  margin-right:10px;
  text-align: right;
  font-size: 42px;
  color: #e9366a;
  font-weight: 200;
}

.checkout-quote-value small {
  font-size: 0.6em;
}