.row {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #e9366a;
  color: white;
  height: 80px;
  display: block;
  border-radius: 8px;
}

.btn-line-1 {
  padding-top: 5px;
  line-height: 30px;
  font-size: 12px;
}

.btn-line-2 {
  line-height: 30px;
  font-size: 36px;
}