#already-paid {
  padding: 100px 6px;
  border-top: 1px solid #efefef;
}

#already-paid .title {
  font-size: 56px;
  font-weight: 200;
  color: #e9366a;
}

#already-paid .subtitle {
  margin-top: 30px;
  padding: 0px 20px;
  font-size: 42px;
  color: #474747;
  font-weight: 200;
}
