#checkout {
  padding: 50px 6px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e1e1e1;
}

.checkout-box {
  border: 1px solid #dedede;
  background-color: #fff;
  padding: 25px;
}

.checkout-box .col-12 {
  border-top: 1px solid #dedede;
  margin-top: 20px;
  font-size: 22px;
}

.checkout-box .price {
  color: #e9366a;
  font-size: 28px;
}

.checkout-box .price small {
  font-size: 0.6em;
}
