#payment-error {
  padding: 100px 6px;
  border-top: 1px solid #efefef;
}

#payment-error .title {
  font-size: 56px;
  font-weight: 200;
  color: #ff0000;
  }

#payment-error .subtitle {
  margin-top: 30px;
  padding: 0px 20px;
  font-size: 32px;
  color: #474747;
  font-weight: 200;
}

#payment-error .description {
  margin-top: 30px;
  padding: 0px 20px;
  font-size: 24px;
  color: #474747;
  font-weight: 200;
}